@{
    ViewData["Title"] = "Home Page";
}


    <!-- Page content wrapper-->
    <div id="page-content-wrapper">

        <!-- Page content-->
        <div class="bg-dark py-1">
            <div class="container px-1">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">
                        <div class="text-center my-5">
                            <h1 class="display-5 fw-bolder text-white mb-1">Bem-Vindo ao</h1>
                            <h1 class="display-5 fw-bolder text-white mb-3">Vacina Fácil</h1>
                            <p class="lead text-white-50 mb-4">
                                Nosso aplicativo, o Vacina Fácil, foi desenvolvido com a missão de tornar o processo de imunização mais acessível, eficiente e amigável. Buscamos garantir que todas as crianças estejam protegidas conforme as diretrizes do calendário vacinal do Governo Federal. Acreditamos, no Vacina Fácil, que a prevenção é a base para uma vida plena e saudável. Convidamos você a juntar-se a nós nessa jornada em prol da saúde, garantindo que as futuras gerações estejam protegidas e prontas para um futuro mais seguro.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <section class="py-5 border-bottom" id="features">
            <div class="container px-5 my-5">
                <div class="mb-4">
                    <h2>
                        Principais Benefícios:
                    </h2>
                </div>
                <div class="row gx-7">
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                        <h2 class="h4 fw-bolder">Alertas Personalizados via WhatsApp</h2>
                        <p>
                            Receba lembretes automáticos e personalizados sobre o ciclo vacinal de seus filhos diretamente no WhatsApp. Nunca perca uma vacinação importante novamente.
                        </p>
                    </div>
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div>
                        <h2 class="h4 fw-bolder">Agendamento Facilitado</h2>
                        <p>
                            Agende facilmente as vacinas necessárias através do aplicativo. Com apenas alguns cliques, você pode garantir que seu filho esteja protegido de maneira oportuna.
                        </p>
                    </div>
                    <div class="col-lg-4">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                        <h2 class="h4 fw-bolder">Direcionamento para UBS Próxima</h2>
                        <p>
                            Identifique a Unidade Básica de Saúde (UBS) mais próxima de sua casa e agende sua visita diretamente pelo aplicativo. Reduza o tempo de espera e torne o processo mais conveniente.
                        </p>
                    </div>
                    <div class="col-lg-4">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                        <h2 class="h4 fw-bolder">Acesso à Base do SUS</h2>
                        <p>A integração com a base de dados do Sistema Único de Saúde (SUS) garante informações precisas e em tempo real sobre o histórico vacinal, permitindo uma gestão eficaz das imunizações.</p>
                    </div>
                    <div class="col-lg-4">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                        <h2 class="h4 fw-bolder">Promoção da Saúde Pública</h2>
                        <p>
                            Contribui para a construção de uma comunidade mais saudável ao garantir que todas as crianças e adolescentes estejam protegidos contra doenças evitáveis por meio da vacinação.
                        </p>
                    </div>
                    <div class="col-lg-4">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                        <h2 class="h4 fw-bolder">Facilidade para Profissionais de Saúde</h2>
                        <p>
                            Colabore com profissionais de saúde, facilitando o acompanhamento e a gestão do calendário vacinal de maneira mais eficiente.
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
