@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Todos os direitos reservados ao grupo Vacina Fácil.</p>
<p>
    <h2>Integrantes:</h2>
    <ul>
        <li> Breno Massa Martins - RM 93038 </li>
        <li> Gustavo Henrique Moura - RM 94280 </li>
        <li> Leonard Karic Klovrza - RM 95224 </li>
        <li> Luan Santos dos Reis - RM 94898 </li>
    </ul>
</p>
