@model Aviso

@{
    ViewData["Title"] = "Cadastrar";
}

<h1>Cadastro de Aviso para Cliente</h1>

@if (TempData["msg"] != null)
{
    <div class="alert alert-success">
        @TempData["msg"]
    </div>
}

<form class="d-flex mb-3">
    <button asp-action="Index" class="btn btn-info me-2">Listar Avisos</button>
</form>

<form asp-action="cadastrar">
    <div class="col-md-6">
        <label asp-for="DataAviso">Data do Aviso</label>
        <input asp-for="DataAviso" class="form-control" value="@Model?.DataAviso">
    </div>
    <div class="col-md-6">
        <label asp-for="Descricao">Descrição</label>
        <input asp-for="Descricao" class="form-control" value="@Model?.Descricao">
    </div>

    <div class="mt-3">
        <button class="btn btn-primary">Cadastrar</button>
    </div>

</form>
