
@{
    ViewData["Title"] = "Cadastrar";
}

<h1>Cadastrar Cliente</h1>

@if (TempData["msg"] != null)
{
    <div class="alert alert-success">
        @TempData["msg"]
    </div>
}

<form asp-action="cadastrar">
    <div class="mb-3 mt-3">
        <form class="d-flex mb-3">
            <button asp-action="Index" class="btn btn-info me-2">Listar Cliente</button>
        </form>
    </div>

    <partial name="_Form" />

    <div class="mt-3">
        <button class="btn btn-primary">Cadastrar</button>
    </div>

</form>

